<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /bridge_the_gap/

  # Redirect all requests to index.html
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /bridge_the_gap/index.html [L]
</IfModule>